@font-face {
  font-family: 'Halvar Breit';
  src: url('/css/fonts/HalvarBreit-Bd.eot');
  src: url('/css/fonts/HalvarBreit-Bd.eot?#iefix') format('embedded-opentype'), url('/css/fonts/HalvarBreit-Bd.woff2') format('woff2'), url('/css/fonts/HalvarBreit-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Halvar Breit';
  src: url('/css/fonts/HalvarBreit-Md.eot');
  src: url('/css/fonts/HalvarBreit-Md.eot?#iefix') format('embedded-opentype'), url('/css/fonts/HalvarBreit-Md.woff2') format('woff2'), url('/css/fonts/HalvarBreit-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Halvar Breit';
  src: url('/css/fonts/HalvarBreit-Lt.eot');
  src: url('/css/fonts/HalvarBreit-Lt.eot?#iefix') format('embedded-opentype'), url('/css/fonts/HalvarBreit-Lt.woff2') format('woff2'), url('/css/fonts/HalvarBreit-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
